[Unit]
Description=LPCR Backend Server
Documentation=https://github.com//lpcr-backend
After=network.target

[Service]
WorkingDirectory=/full/path/to/this/project
Environment=NODE_ENV=production
Environment=PGHOST=localhost
Environment=PGUSER=[user]
Environment=PGPASSWORD=[password]
Environment=PGDATABASE=[db_name]
Environment=PGPORT=[port]
Type=simple
User=[_username_]
ExecStart=/usr/bin/node /full/path/to/this/project/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
